* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
.app {
  background: url('img/CST.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
 .card-panel {
 border-radius: 5% !important;
 margin-top: 250px !important;
 margin-bottom: 600px !important;
 padding: 50px !important;

}
